* {
  padding: 0;
  margin: 0;
}
header {
  padding: 1% 5%;
  background-color: #5b0017;
  font-family: "Source Serif 4", serif;
}
header .header {
  background-image: url(images/about/Rectangle.png);
  background-repeat: no-repeat;
  background-size: 50% 883px;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav .nav-links {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  padding-top: 30px;
}
header nav .nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 200;
}
header nav .nav-bt {
  display: flex;
  align-items: center;
}
header nav .nav-bt button {
  padding: 10px 20px;
  background-color: #cc9d2f;
  color: #5b0017;
  font-size: 20px;
  height: 50px;
  transform: translateY(-30px);
  cursor: pointer;
  border-color: transparent;
}
button:hover,
a:hover {
  opacity: 0.8;
  transition: 0.3s;
}
header nav .nav-bt img {
  height: 60px;
  transform: translateY(-30px);
}
header .header .landing-page {
  padding: 4% 6%;
}
header .header .landing-page #our-menu {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #cc9d2f;
  display: inline-block;
}
header .header .landing-page hr {
  display: inline-block;
  width: 3%;
  margin-left: 5px;
  color: rgba(255, 255, 255, 0.304);
  transform: translateY(-4px);
}
header .header .landing-page .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 70px;
}
header .header .landing-page .text p:nth-of-type(1) {
  font-size: 70px;
  color: white;
  max-width: 50%;
}
header .header .landing-page .text p:nth-of-type(2) {
  font-size: 18px;
  color: #b8b8b8;
  font-family: "Inter", sans-serif;
  max-width: 40%;
}
header .header .landing-page .links {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
  font-family: "Inter", sans-serif;
}
header .header .landing-page .links a {
  text-decoration: none;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.468);
}
header .header .landing-page .links a:nth-of-type(1) {
  color: white;
}
header .header .landing-page .menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .header .landing-page .menu .food-box {
  max-width: 32%;
  margin-bottom: 30px;
}

header .header .landing-page .menu .food-box img {
  max-width: 100%;
  transform: translateY(4px);
}
header .header .landing-page .menu .food-box .food-name {
  padding: 20px;
  font-size: 21px;
  background-color: #243054;
  color: rgba(255, 255, 255, 0.805);
  margin-top: 0px;
}
header .header .landing-page .bt {
  text-align: center;
  margin-top: 40px;
}
header .header .landing-page button {
  padding: 15px 20px;
  border: solid 2px white;
  background-color: transparent;
  cursor: pointer;
}
header .header .landing-page button a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}
/*---------------------------------------FIN HEADER--------------------------------------------------*/
main {
  padding: 5% 0;
  background-color: #5b0017;
}

main .top-footer {
  background-color: #5b0017;
  background-image: url(images/Menu/Rectangle.png);
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: right;
  padding: 8% 0;
}
main .top-footer .section1 {
  margin: 0 11%;
  display: flex;
}
main .top-footer .section1 .sct1-text {
  width: 30%;
  background-color: #243054;
  padding: 5%;
}
main .top-footer .section1 .map {
  width: 70%;
  background-color: #e0859c;
}
main .top-footer .section1 .map img {
  filter: opacity(0.7);
  box-sizing: border-box;
  max-width: 100%;
  height: 100%;
}
main .top-footer .section1 .sct1-text .text-box p:nth-of-type(1) {
  font-size: 19px;
  color: #cc9d2f;
  font-weight: 100;
  margin-bottom: 10px;
}
main .top-footer .section1 .sct1-text .text-box p:nth-of-type(2) {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 300;
  line-height: 2;
}
/*---------------------------------------FIN MAIN--------------------------------------------------*/
footer {
  background-color: #cc9d2f;
  font-family: "Inter", sans-serif;
}
footer .footer-box1 {
  padding: 3% 11%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
footer .footer-box1 .footer-links {
  display: flex;
  gap: 30px;
}
footer .footer-box1 .footer-links a {
  text-decoration: none;
  color: #5b0017;
  font-size: 18px;
}
footer .footer-box2 {
  padding: 1% 11%;
  display: flex;
  gap: 30%;
  color: #243054;
}
footer hr {
  border: none;
  border-bottom: solid 0.8px #24305425;
}
footer .footer-box2 .social-links {
  display: flex;
  gap: 20px;
}
footer .footer-box2 .social-links i {
  cursor: pointer;
}
footer .footer-box2 .social-links i:hover {
  opacity: 0.8;
  transform: 0.3s;
}
/*---------------------------------------FIN FOOTER--------------------------------------------------*/
@media (max-width: 750px) {
  header .header .landing-page #our-menu {
    font-size: 12px;
  }
  header .header .landing-page .text p:nth-of-type(1) {
    font-size: 50px;
  }
  header .header .landing-page .text p:nth-of-type(2) {
    font-size: 15px;
  }
  header .header .landing-page .links {
    gap: 10px;
  }
  header .header .landing-page .links a {
    font-size: 15px;
  }
  header .header .landing-page button a {
    font-size: 20px;
  }
  header .header .landing-page .menu .food-box .food-name {
    font-size: 15px;
  }
  header nav .nav-bt {
    padding-top: 20px;
  }
  header nav a .logo {
    width: 70%;
  }
  header nav .nav-links a {
    font-size: 15px;
  }
  header nav .nav-links {
    gap: 20px;
    padding-top: 20px;
  }
  header nav .nav-bt button {
    font-size: 15px;
    height: 40px;
  }
  header nav .nav-bt img {
    height: 50px;
  }
  header .header {
    background-size: 100% 883px;
  }
  body .top-footer {
    background-size: 90% 100%;
    background-position: center;
  }
  body .top-footer .section1 {
    flex-direction: column;
  }
  body .top-footer .section1 .sct1-text {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  body .top-footer .section1 .map {
    width: 100%;
  }
  body .top-footer .section1 .map img {
    opacity: 0.9;
    box-sizing: border-box;
    max-width: 100%;
    height: 100%;
  }
  footer .footer-box2 {
    flex-direction: column-reverse;
    gap: 20px;
    width: 50%;
    margin: auto;
    text-align: center;
  }
  footer .footer-box2 .social-links {
    justify-content: center;
    margin-top: 10px;
  }
  footer .footer-box1 .footer-links a {
    font-size: 12px;
  }
  footer .footer-box1 img {
    width: 80%;
  }
}

@media (max-width: 576px) {
  header nav .nav-bt {
    padding-top: 30px;
  }
  header nav a .logo {
    width: 50%;
  }
  header nav .nav-links a {
    font-size: 12px;
  }
  header nav .nav-links {
    transform: translateX(-20px);
  }
  header nav .nav-bt button {
    font-size: 10px;
    height: 30px;
    padding: 5px 10px;
  }
  header nav .nav-bt img {
    height: 40px;
  }
  footer .footer-box1 .footer-links a {
    font-size: 10px;
  }
  footer .footer-box1 .footer-links {
    gap: 20px;
  }
  footer .footer-box1 img {
    width: 60%;
  }
  footer .footer-box2 {
    font-size: 10px;
  }
  header .header .landing-page .text {
    flex-direction: column;
    gap: 40px;
  }
  header .header .landing-page .menu {
    flex-direction: column;
    align-items: center;
  }
  header .header .landing-page .text p:nth-of-type(1) {
    max-width: 100%;
  }
  header .header .landing-page .text p:nth-of-type(2) {
    max-width: 70%;
    text-align: center;
  }
  header .header .landing-page .links {
    justify-content: center;
    gap: 30px;
  }
  header .header .landing-page .menu .food-box {
    max-width: 70%;
  }
  header .header .landing-page .menu .food-box .food-name {
    padding: 15px 20px;
    font-size: 18px;
    text-align: center;
  }
}
@media (max-width: 400px) {
  header nav .nav-bt {
    padding-top: 40px;
  }
  header nav a .logo {
    width: 40%;
  }
  header nav .nav-links {
    gap: 10px;
  }
  header nav .nav-links a {
    font-size: 10px;
  }
  header nav .nav-bt button {
    font-size: 8px;
    height: 25px;
    padding: 0px 10px;
  }
  header nav .nav-bt img {
    height: 30px;
  }
  footer .footer-box1 .footer-links a {
    font-size: 8px;
  }
  footer .footer-box1 .footer-links {
    gap: 10px;
  }
  footer .footer-box2 p {
    font-size: 8px;
  }
  header .header .landing-page .text p:nth-of-type(1) {
    font-size: 40px;
  }
  header .header .landing-page .text p:nth-of-type(2) {
    font-size: 12px;
    width: 80%;
  }
  header .header .landing-page .links {
    gap: 10px;
  }
  header .header .landing-page .links a {
    font-size: 12px;
  }
  header .header .landing-page button a {
    font-size: 15px;
  }
  header .header .landing-page .menu .food-box {
    max-width: 80%;
  }
  header .header .landing-page .menu .food-box .food-name {
    padding: 15px 20px;
    font-size: 15px;
  }
}
