* {
  padding: 0;
  margin: 0;
}
header {
  padding: 1% 5%;
  background-color: #5b0017;
  font-family: "Source Serif 4", serif;
  background-image: url(/images/Rectangle.png);
  background-repeat: no-repeat;
  background-size: 45% 800px;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav .nav-links {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  padding-top: 30px;
}
header nav .nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 200;
}
header nav .nav-bt {
  display: flex;
  align-items: center;
}
header nav .nav-bt button {
  padding: 10px 20px;
  background-color: #cc9d2f;
  color: #5b0017;
  font-size: 20px;
  height: 50px;
  transform: translateY(-30px);
  cursor: pointer;
  border-color: transparent;
}
button:hover,
a:hover {
  opacity: 0.8;
  transition: 0.3s;
}
header nav .nav-bt img {
  height: 60px;
  transform: translateY(-30px);
}
header .landing-page {
  display: flex;
}
header .landing-page img,
header .landing-page .text {
  max-width: 40%;
}
header .landing-page img {
  max-width: 60%;
}
header .landing-page .text p:nth-of-type(1) {
  color: #ffffff;
  font-size: 100px;
  position: absolute;
  z-index: 2;
  width: 60%;
  transform: translateY(50px);
  background-color: #5b0017;
  opacity: 0.7;
}
header .landing-page .text p:nth-of-type(2),
header .landing-page .text button {
  transform: translateY(350px);
}
header .landing-page .text p:nth-of-type(2) {
  max-width: 70%;
  color: white;
  font-weight: 300;
  line-height: 1.5;
  font-size: 20px;
  margin-bottom: 20px;
}
header .landing-page .text button {
  padding: 10px 25px;
  border: solid 3px #cc9d2f;
  background-color: transparent;
  cursor: pointer;
}
header .landing-page .text button a {
  font-size: 18px;
  font-weight: 200;
  color: #cc9d2f;
  text-decoration: none;
}
header .landing-page img:nth-of-type(1) {
  position: relative;
  z-index: 1;
  max-width: 100%;
}
/*------------------FIN-HEADER--------------------------------------------*/
main {
  background-color: #5b0017;
  font-family: "Source Serif 4", serif;
}
main .section1 {
  padding: 7% 5%;
  background-image: url(/images/Rectangle.png);
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: right;
  height: 90vh;
}
main .section1 .sct1-container {
  display: flex;
  gap: 30px;
}
main .section1 .sct1-container #illustration {
  width: 30%;
  height: 621px;
}
main .section1 .sct1-container .sct1-text {
  width: 70%;
  position: relative;
}
main .section1 .sct1-container .sct1-text p:nth-of-type(1) {
  font-size: 70px;
  font-weight: 400;
  color: white;
}
main .section1 .sct1-container .sct1-text p:nth-of-type(2) {
  color: white;
  font-weight: 200;
  font-size: 25px;
  margin: 10px 0 20px 0;
}
main .section3 .sct3-container button,
main .section1 .sct1-container .sct1-text button {
  padding: 15px 20px;
  background-color: #cc9d2f;
  margin: 50px 0;
  font-size: 20px;
  cursor: pointer;
  border: none;
  box-shadow: #5b0017 -4px 4px 0 0, #cc9d2f -4px 4px 0 1px;
}
main .section3 .sct3-container button a,
main .section1 .sct1-container .sct1-text button a {
  text-decoration: none;
  color: #5b0017;
  font-weight: 200;
}
main .section1 .sct1-container .sct1-text .sct1-imgs {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}
main .section1 .sct1-container .sct1-text .sct1-footer img:nth-of-type(2) {
  position: absolute;
  right: 0;
  bottom: 0;
}
/*------------------FIN-SECTION1-------------------------------------------------*/
main .section2 {
  padding: 1% 5%;
  margin-top: 100px;
  padding-bottom: 100px;
  color: #243054;
  font-family: "Inter", sans-serif;
}
main .section2 .sct2-container {
  display: flex;
}
main .section2 .sct2-container .sct2-text {
  width: 30%;
  background-color: #cc9d2f;
  padding: 70px 100px 20px 100px;
}
main .section2 .sct2-container .video {
  width: 70%;
}
main .section2 .sct2-container .video img {
  width: 100%;
  height: 100%;
}
main .section2 .sct2-container .sct2-text i {
  transform: translateX(-15px);
}
main .section2 .sct2-container .sct2-text #description {
  font-size: 21px;
  line-height: 1.8;
}
main .section2 .sct2-container .sct2-text .user-box {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
main .section2 .sct2-container .sct2-text .user-box #user-image {
  height: 40px;
  padding-bottom: 10px;
  border-bottom: 1.66px solid #243054;
}
main .section2 .sct2-container .sct2-text .user-box .username {
  width: 90%;
  border-bottom: 0.8px #00646d62 solid;
}
main .section2 .sct2-container .sct2-text .user-box .username p:nth-of-type(1) {
  font-weight: 500;
  margin-bottom: 5px;
}
main .section2 .sct2-container .sct2-text .user-box .username p:nth-of-type(2) {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 12px;
}
/*------------------FIN-SECTION2-------------------------------------------------*/
main .section3 {
  height: 120vh;
  background-image: url(/images/section3-illustration.png);
  background-size: 100% 100%;
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .section3 .sct3-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .section3 img:nth-of-type(2) {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 70%;
}
main .section3 img:nth-of-type(1) {
  width: 88px;
  height: 104px;
}
main .section3 p {
  font-size: 60px;
  color: white;
  max-width: 70%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}
main .section3 .sct3-container button {
  padding: 15px 25px;
}
/*--------------------------FIN-SECTION3-----------------------------------*/
footer {
  background-color: #cc9d2f;
  font-family: "Inter", sans-serif;
}
footer .footer-box1 {
  padding: 3% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
footer .footer-box1 .footer-links {
  display: flex;
  gap: 30px;
}
footer .footer-box1 .footer-links a {
  text-decoration: none;
  color: #5b0017;
  font-size: 18px;
}
footer .footer-box2 {
  padding: 1% 5%;
  display: flex;
  gap: 30%;
  color: #243054;
}
footer hr {
  border: none;
  border-bottom: solid 0.8px #24305425;
}
footer .footer-box2 .social-links {
  display: flex;
  gap: 20px;
}
footer .footer-box2 .social-links i {
  cursor: pointer;
}
footer .footer-box2 .social-links i:hover {
  opacity: 0.8;
  transform: 0.3s;
}
/*----------------------------------FIN-FOOTER*--------------------------------*/
@media (max-width: 1290px) {
  header {
    background-size: 45% 700px;
  }
  header .landing-page .text p:nth-of-type(1) {
    font-size: 80px;
  }
  header .landing-page .text p:nth-of-type(2),
  header .landing-page .text button {
    transform: translateY(300px);
  }
  header .landing-page .text p:nth-of-type(2) {
    max-width: 80%;
  }
  header .landing-page img {
    width: 60%;
  }
  main .section1 .sct1-container .sct1-text p:nth-of-type(1) {
    font-size: 60px;
  }
  main .section1 .sct1-container .sct1-text p:nth-of-type(2) {
    font-size: 20px;
    margin: 10px 0 20px 0;
  }
  main .section1 .sct1-container .sct1-text button {
    padding: 15px 20px;
    margin: 40px 0;
    font-size: 18px;
  }
  main .section1 .sct1-container .sct1-text button a {
    font-size: 18px;
  }
  main .section1 .sct1-container .sct1-text .sct1-imgs {
    margin-bottom: 20px;
  }
  main .section2 .sct2-container .sct2-text {
    padding: 70px 80px 20px 100px;
  }
  main .section2 .sct2-container .sct2-text .user-box {
    margin-top: 60px;
  }
  main .section2 .sct2-container .sct2-text #description {
    font-size: 18px;
  }
  footer .footer-box2 {
    gap: 25%;
  }
}
@media (max-width: 1245px) {
  header .landing-page .text p:nth-of-type(1) {
    font-size: 60px;
  }
  header .landing-page .text p:nth-of-type(2),
  header .landing-page .text button {
    transform: translateY(220px);
  }
  header .landing-page .text p:nth-of-type(2) {
    font-size: 18px;
  }
  header .landing-page .text p:nth-of-type(2) {
    max-width: 80%;
  }
  header .landing-page img {
    width: 55%;
  }
  header nav .nav-bt button {
    font-size: 18px;
  }
}
@media (max-width: 1234px) {
  header {
    background-size: 45% 550px;
  }
  header .vector {
    width: 8%;
  }
  header .landing-page .text p:nth-of-type(2) {
    max-width: 90%;
  }
  header .landing-page .text p:nth-of-type(1) {
    font-size: 50px;
  }
  header .landing-page .text p:nth-of-type(2),
  header .landing-page .text button {
    transform: translateY(200px);
  }
  header .landing-page .text button {
    font-size: 16px;
  }
  main .section1 .sct1-container .sct1-text p:nth-of-type(1) {
    font-size: 40px;
  }
  main .section1 .sct1-container .sct1-text p:nth-of-type(2) {
    font-size: 18px;
    margin: 10px 0 20px 0;
  }
  main .section1 .sct1-container .sct1-text button {
    padding: 15px 20px;
    margin: 40px 0;
    font-size: 18px;
  }
  main .section1 .sct1-container .sct1-text button a {
    font-size: 16px;
  }
  main .section1 .sct1-container .sct1-text .sct1-imgs {
    margin-bottom: 15px;
    margin-top: 30px;
  }
  main .section1 .sct1-container .sct1-text .sct1-imgs img {
    width: 120px;
  }
  main .section1 .sct1-container #illustration {
    height: 521px;
  }
  footer .footer-box2 {
    gap: 18%;
  }
  footer .footer-box2 .social-links {
    gap: 15px;
  }
}

@media (max-width: 920px) {
  header {
    background-size: 45% 450px;
  }
  header nav .nav-bt button {
    font-size: 16px;
    transform: translateY(0px);
  }
  header nav .nav-bt img {
    transform: translateY(0px);
  }
  header .landing-page .text button {
    font-size: 15px;
  }
  header .landing-page .text p:nth-of-type(1) {
    font-size: 45px;
  }
  header .landing-page .text p:nth-of-type(2),
  header .landing-page .text button {
    transform: translateY(180px);
  }
  header nav .logo {
    width: 8%;
  }
  header .vector {
    width: 6%;
  }
  header .landing-page .text p:nth-of-type(2) {
    font-size: 15px;
  }
  main .section1 .sct1-container .sct1-text p:nth-of-type(1) {
    font-size: 35px;
  }
  main .section1 .sct1-container .sct1-text p:nth-of-type(2) {
    font-size: 17px;
  }
  main .section3 .sct3-container button,
  main .section1 .sct1-container .sct1-text button {
    padding: 15px 20px;
    margin: 40px 0;
  }
  main .section3 .sct3-container button a,
  main .section1 .sct1-container .sct1-text button a {
    font-size: 15px;
  }
  main .section1 .sct1-container .sct1-text .sct1-imgs {
    margin-bottom: 15px;
    margin-top: 30px;
  }
  main .section1 .sct1-container .sct1-text .sct1-imgs img {
    width: 100px;
  }
  main .section1 .sct1-container #illustration {
    height: 521px;
  }
  main .section1 {
    height: 70vh;
  }
  main .section1 .sct1-container .sct1-text .sct1-footer img:nth-of-type(1) {
    width: 55%;
  }
  main .section1 .sct1-container .sct1-text .sct1-footer img:nth-of-type(2) {
    width: 10%;
  }
  main .section1 .sct1-container #illustration {
    width: 35%;
  }
  main
    .section2
    .sct2-container
    .sct2-text
    .user-box
    .username
    p:nth-of-type(1) {
    font-size: 12px;
  }
  main
    .section2
    .sct2-container
    .sct2-text
    .user-box
    .username
    p:nth-of-type(2) {
    margin-bottom: 9px;
  }
  main .section2 .sct2-container .sct2-text {
    padding: 70px 30px 20px 80px;
  }
  main .section3 {
    height: 110vh;
  }
  main .section3 p {
    font-size: 50px;
  }
  footer .footer-box2 {
    gap: 12%;
  }
}
@media (max-width: 832px) {
  header .landing-page .text p:nth-of-type(1) {
    font-size: 40px;
  }
  header .landing-page .text p:nth-of-type(2),
  header .landing-page .text button {
    transform: translateY(165px);
  }
  header nav .nav-bt button {
    font-size: 14px;
    padding: 5px 20px;
    height: 40px;
  }
  header nav .nav-bt img {
    height: 50px;
  }
  header nav .nav-links a {
    font-size: 15px;
  }
  header .landing-page .text button {
    font-size: 14px;
  }
  main .section1 .sct1-container .sct1-text p:nth-of-type(1) {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  header .landing-page {
    flex-direction: column-reverse;
  }
  header .landing-page .text p:nth-of-type(1) {
    color: #ffffff;
    font-size: 60px;
    position: absolute;
    width: 70%;
    right: 100px;
    bottom: 50%;
  }
  header .landing-page .text p:nth-of-type(2) {
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    font-size: 25px;
  }
  header .landing-page img {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 40px;
  }
  header .landing-page .text p:nth-of-type(2),
  header .landing-page .text button {
    transform: translateY(0px);
  }
  header .landing-page .text button {
    margin-bottom: 20px;
  }
  header {
    background-size: 100%;
    text-align: center;
  }
  header .landing-page .text {
    max-width: 100%;
  }
  main .section1 .sct1-container {
    flex-direction: column;
    text-align: center;
  }
  main .section1 {
    padding: 7% 5%;
    background-image: url(/images/Rectangle.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 160vh;
  }
  main .section1 .sct1-container #illustration {
    width: 50%;
    margin: auto;
  }
  main .section1 .sct1-container .sct1-text {
    width: 100%;
  }
  main .section1 .sct1-container .sct1-text .sct1-imgs {
    justify-content: space-evenly;
    margin-bottom: 50px;
  }
  main .section1 .sct1-container .sct1-text .sct1-footer img:nth-of-type(2) {
    left: 45%;
    bottom: -25px;
  }
  main .section2 .sct2-container {
    flex-direction: column;
  }
  main .section2 .sct2-container .sct2-text {
    width: 100%;
    box-sizing: border-box;
    padding: 50px 50px 20px 50px;
  }
  main .section2 .sct2-container .video {
    width: 100%;
  }
  main .section2 {
    margin-top: -50px;
  }
  main .section3 {
    height: 90vh;
  }
  main .section3 p {
    font-size: 40px;
  }
  main .section3 img:nth-of-type(1) {
    width: 80px;
    height: 85px;
  }
  footer .footer-box2 {
    flex-direction: column-reverse;
    gap: 20px;
    width: 50%;
    margin: auto;
    text-align: center;
  }
  footer .footer-box2 .social-links {
    justify-content: center;
    margin-top: 10px;
  }
  footer .footer-box1 .footer-links a {
    font-size: 12px;
  }
  footer .footer-box1 img {
    width: 80%;
  }
}
@media (max-width: 576px) {
  header .landing-page .text p:nth-of-type(1) {
    font-size: 40px;
    right: 80px;
    bottom: 60%;
  }
  header .landing-page .text p:nth-of-type(2) {
    width: 90%;
    font-size: 18px;
  }
  header nav .nav-links a {
    font-size: 12px;
  }
  header nav .nav-links {
    gap: 20px;
    padding-top: 20px;
  }
  header nav .nav-bt button {
    font-size: 12px;
    height: 30px;
  }
  header nav .nav-bt img {
    height: 40px;
  }
  main .section1 .sct1-container .sct1-text .sct1-footer img:nth-of-type(2) {
    left: 45%;
    bottom: -20px;
  }
  main .section1 .sct1-container #illustration {
    width: 80%;
    height: 400px;
  }
  main .section1 {
    height: 150vh;
  }
  main .section2 .sct2-container .sct2-text #description {
    font-size: 16px;
  }
  main .section3 p {
    font-size: 30px;
  }
  main .section3 {
    height: 70vh;
  }
  main .section3 img:nth-of-type(1) {
    width: 60px;
    height: 65px;
  }
}
@media (max-width: 420px) {
  header .landing-page .text p:nth-of-type(1) {
    font-size: 30px;
    right: 60px;
    bottom: 70%;
  }
  header .landing-page .text p:nth-of-type(2) {
    font-size: 16px;
  }
  header nav .nav-links a {
    font-size: 10px;
  }
  header nav .nav-links {
    gap: 10px;
    padding-top: 15px;
  }
  header nav .nav-bt button {
    font-size: 10px;
    height: 20px;
  }
  header nav .nav-bt img {
    height: 30px;
  }
  header .landing-page .text button a {
    font-size: 12px;
  }
  header .landing-page .text button {
    padding: 5px 20px;
  }
  main .section1 .sct1-container .sct1-text .sct1-footer img:nth-of-type(2) {
    left: 45%;
    bottom: -10px;
  }
  main .section1 .sct1-container #illustration {
    width: 70%;
    height: 450px;
  }
  main .section1 .sct1-container .sct1-text .sct1-imgs img {
    width: 80px;
  }
  main .section1 .sct1-container .sct1-text p:nth-of-type(1) {
    font-size: 30px;
  }
  main .section1 .sct1-container .sct1-text p:nth-of-type(2) {
    font-size: 15px;
  }
  main .section3 .sct3-container button a,
  main .section1 .sct1-container .sct1-text button a {
    font-size: 12px;
  }
  main .section3 .sct3-container button,
  main .section1 .sct1-container .sct1-text button {
    padding: 10px 15px;
    margin: 30px 0;
  }
  main .section1 .sct1-container .sct1-text .sct1-imgs {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  main .section1 {
    height: 120vh;
  }
  main .section2 {
    margin-top: 100px;
  }
  main .section3 p {
    font-size: 25px;
  }
  main .section3 {
    height: 60vh;
  }
  main .section3 img:nth-of-type(1) {
    width: 50px;
    height: 55px;
  }
  footer .footer-box1 .footer-links a {
    font-size: 10px;
  }
  footer .footer-box1 .footer-links {
    gap: 20px;
  }
  footer .footer-box1 img {
    width: 60%;
  }
  footer .footer-box2 {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  header .landing-page .text p:nth-of-type(1) {
    font-size: 25px;
    right: 50px;
    bottom: 75%;
  }
  header nav .nav-links {
    gap: 5px;
    padding-top: 10px;
  }
  main .section1 .sct1-container .sct1-text .sct1-footer img:nth-of-type(2) {
    bottom: -7px;
  }
  main .section1 .sct1-container #illustration {
    width: 80%;
    height: 400px;
  }
  main .section1 .sct1-container .sct1-text .sct1-imgs img {
    width: 60px;
  }
  main .section1 .sct1-container .sct1-text p:nth-of-type(1) {
    font-size: 25px;
  }
  main .section1 .sct1-container .sct1-text p:nth-of-type(2) {
    font-size: 12px;
  }
  main .section1 {
    height: 120vh;
  }
  main .section2 {
    margin-top: 50px;
  }
  main .section3 p {
    font-size: 20px;
  }
  main .section3 {
    height: 50vh;
  }
  main .section3 img:nth-of-type(1) {
    width: 40px;
    height: 45px;
  }
  footer .footer-box1 .footer-links a {
    font-size: 8px;
  }
  footer .footer-box1 .footer-links {
    gap: 10px;
  }
  footer .footer-box2 p {
    font-size: 8px;
  }
}
